In [13]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [25]:

df=pd.read_csv(r"C:\Users\shrey\OneDrive\Desktop\pima-indians-diabetes.data.csv")

In [27]:
df

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [29]:
array=df.values
X=array[:,0:8]
Y=array[:,8]

In [31]:
num_trees=108
seed=7
k_fold=KFold(n_splits=10,random_state=seed,shuffle=True)
model=RandomForestClassifier(n_estimators=num_trees,max_features=3)
k_fold

KFold(n_splits=10, random_state=7, shuffle=True)

In [33]:
result=cross_val_score(model,X,Y,cv=k_fold)
print(result.mean())

0.7575358851674642

In [35]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [43]:
file_name=(r"C:\Users\shrey\OneDrive\Desktop\pima-indians-diabetes.data.csv")

In [45]:
names=['preg','plas','pres','skin','test','mass','pedi','age','class']
dataframe=read_csv(file_name,names=names)
dataframe.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [51]:
array=dataframe.values
array

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [55]:
array=df.values
X=array[:,0:8]
Y=array[:,8]

In [59]:

seed=7
kfold=KFold(n_splits=10,random_state=seed,shuffle=True)
cart=DecisionTreeClassifier()
num_trees=100
model=BaggingClassifier(estimator=cart,n_estimators=num_trees,random_state=seed)

In [61]:
result=cross_val_score(model,X,Y,cv=k_fold)
print(result.mean())

0.7457792207792207

In [67]:
from sklearn.ensemble import AdaBoostClassifier
file_name=(r"C:\Users\shrey\OneDrive\Desktop\pima-indians-diabetes.data.csv")
names=['preg','plas','pres','skin','test','mass','pedi','age','class']
dataframe=read_csv(file_name,names=names)
dataframe.head()
array=df.values
X=array[:,0:8]
Y=array[:,8]

In [77]:
import warnings
warnings.filterwarnings('ignore')
num_trees=10
seed=7
k_fold=KFold(n_splits=10,random_state=seed,shuffle=True)
model=AdaBoostClassifier(n_estimators=num_trees,random_state=seed)
result=cross_val_score(model,X,Y,cv=k_fold)
print(result.mean())

0.7403793574846207